body {
    background-color: rgb(133, 22, 90);
    padding: auto;
}

.container-1 {
    background-color: whitesmoke;
    padding: 10px auto;
    max-width: 640px;
    max-height: 480px;
    border: 5px solid rgb(129, 122, 122);
    float: 20px;
    text-align: center;
}

.texto_formato {
    color: rgb(129, 122, 122);
}

.texto2 {
    width: 2px auto;
}

.janela-dados {
    background-color: rgb(216, 214, 214);
    max-width: 640px;
    max-height: 480px;
}


/*-------------------------------------------*/

.janela-temperaturas {
    margin-top: 30px;
    background-color: whitesmoke;
    height: 50%;
    width: 20%;
    border: 5px solid rgb(129, 122, 122);
}

.janela-umidades {
    margin-top: 30px;
    background-color: whitesmoke;
    height: 50%;
    width: 20%;
    border: 5px solid rgb(129, 122, 122);
}

.resp-temperatura {
    background-color: black;
}

.resp-umidade {
    background-color: black;
}

.btn-python {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}